.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .item {
        font-weight: 600;
        transition: color 0.3s ease;

        &:hover {
            color: #fff;
        }
    }

    .active {
        color: #fff;
    }
}
