.globalContainer {
    background-color: #50b2d5;
    min-height: 100vh;
    color: #222430;
    // overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.header {
    padding: 25px;
}
