.section {
    padding-bottom: 30px;
}

.container {
    display: flex;
    gap: 40px;
    padding: 30px;
    border: 3px solid black;
    border-radius: 24px;

    .sidebar {
        width: 40vw;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        overflow-y: scroll;
        padding-right: 3px;

        .item {
            padding: 30px;
            background-color: #fff;
            border-radius: 12px;

            .dataContainer {
                margin-top: 15px;
            }

            .topic {
                font-weight: 600;
                font-size: 18px;
            }
        }

        .item:not(:first-child) {
            margin-top: 20px;
        }

        .inputFilter {
            padding: 23px 30px;
            border-radius: 12px;
        }
    }

    .map {
        width: 100%;
        height: calc(50vh);
        overflow: hidden;
        border-radius: 24px;
    }
}
